<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Budžeta</title>
</head>
<body>
    <h1>Popis svih budžeta</h1>

    <a href="{% url 'budzet-create' %}">Dodaj novi budžet</a>

    <ul>
        {% for budzet in object_list %}
            <li>
                <strong>{{ budzet.naziv }}</strong><br>
                Iznos: {{ budzet.iznos }} €<br>
                Datum: {{ budzet.datum }}<br>
                Opis: {{ budzet.opis }}<br>
                Kategorija: {{ budzet.tag.naziv|default:"Nema kategorije" }}<br>
                <a href="{% url 'budzet-update' budzet.naziv %}">Uredi</a>
                <a href="{% url 'budzet-delete' budzet.naziv %}">Obriši</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'korisnik' %}">Nazad na glavnu stranicu</a>

</body>
</html>
