<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Prihoda</title>
</head>
<body>
    <h1>Popis svih prihoda</h1>
    <ul>
        {% for prihod in prihodi %}
            <li>
                <strong>{{ prihod.naziv }}</strong><br>
                Iznos: {{ prihod.iznos }} €<br>
                Datum: {{ prihod.datum }}<br>
                Opis: {{ prihod.opis }}<br>
                Budžet: {{ prihod.budzet.naziv }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>