<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Prihoda</title>
</head>
<body>
    <h1>Popis svih prihoda</h1>

    <a href="{% url 'prihod-create' %}">Dodaj novi prihod</a>

    <ul>
        {% for prihod in prihodi %}
            <li>
                <strong>{{ prihod.naziv }}</strong><br>
                Iznos: {{ prihod.iznos }} €<br>
                Datum: {{ prihod.datum }}<br>
                Opis: {{ prihod.opis }}<br>
                Budžet: {% if prihod.budzet %}{{ prihod.budzet.naziv }}{% else %}Nema budžeta{% endif %}<br>
                <a href="{% url 'prihod-update' prihod.naziv %}">Uredi</a>
                <a href="{% url 'prihod-delete' prihod.naziv %}">Obriši</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'korisnik' %}">Nazad na glavnu stranicu</a>
</body>
</html>
