<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Rashoda</title>
</head>
<body>
    <h1>Popis svih rashoda</h1>

    <a href="{% url 'rashod-create' %}">Dodaj novi rashod</a>

    <ul>
        {% for rashod in rashodi %}
            <li>
                <strong>{{ rashod.naziv }}</strong><br>
                Iznos: {{ rashod.iznos }} €<br>
                Datum: {{ rashod.datum }}<br>
                Opis: {{ rashod.opis }}<br>
                Budžet: {% if rashod.budzet %}{{ rashod.budzet.naziv }}{% else %}Nema budžeta{% endif %}<br>
                <a href="{% url 'rashod-update' rashod.naziv %}">Uredi</a>
                <a href="{% url 'rashod-delete' rashod.naziv %}">Obriši</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'korisnik' %}">Nazad na glavnu stranicu</a>
</body>
</html>
