<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Rashoda</title>
</head>
<body>
    <h1>Popis svih rashoda</h1>
    <ul>
        {% for rashod in rashodi %}
            <li>
                <strong>{{ rashod.naziv }}</strong><br>
                Iznos: {{ rashod.iznos }} €<br>
                Datum: {{ rashod.datum }}<br>
                Opis: {{ rashod.opis }}<br>
                Budžet: {{ rashod.budzet.naziv }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>