<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Kategorija</title>
</head>
<body>
    <h1>Popis svih kategorija</h1>

    <a href="{% url 'kategorija-create' %}">Dodaj novu kategoriju</a>

    <ul>
        {% for tag in kategorije %}
            <li>
                <strong>{{ tag.naziv }}</strong><br>
                Opis: {% if tag.opis %}{{ tag.opis }}{% else %}Nema opisa{% endif %}<br>
                <a href="{% url 'kategorija-update' tag.naziv %}">Uredi</a>
                <a href="{% url 'kategorija-delete' tag.naziv %}">Obriši</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'korisnik' %}">Nazad na glavnu stranicu</a>
</body>
</html>
