<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Budžeta</title>
</head>
<body>
    <h1>Popis svih budžeta</h1>
    <ul>
        {% for budzet in budzeti %}
            <li>
                <strong>{{ budzet.naziv }}</strong><br>
                Iznos: {{ budzet.iznos }} €<br>
                Datum: {{ budzet.datum }}<br>
                Opis: {{ budzet.opis }}<br>
                Kategorija: {{ budzet.kategorija.naziv|default:"Nema kategorije" }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
